<%- include('./includes/head.ejs', { pageTitle: 'An Error occurred' }) %>
</head>
<body>
    <%- include("./includes/header.ejs") %>
    <main>
        <h1>Could no find resource</h1>
        <p>Unfortunately, we could ot find the request resource.</p>
        <p><a href="/" class="btn" >Back to safety!</a></p>
    </main>
    <%- include('./includes/footer.ejs') %>