<%- include('../../shared/includes/head.ejs',{pageTitle:'All your Orders'})  %>

</head>
<body>
    <%- include("../../shared/includes/header.ejs") %>
    <main>
        <h1>All Your Orders</h1>

    </main>
    <%- include('../../shared/includes/footer.ejs') %>