<header>
  <div><a href="/">WED</a></div>
  <nav>
    <ol>
      <% if(locals.isAuth) { %>
      <form action="/logout" method="POST">
        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
        <li><button>logout</button></li>
      </form>
      <% } %>
    </ol>
  </nav>
</header>
